.page-link {
    color: rgba(0, 0, 0, 0.719);
    background-color: transparent;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    border-radius: 5px;
    margin: 5px;
 }
 
 .page-link.active,
 .active > .page-link {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.466);
    border-color: transparent;
 }
 


