.container-cart {
  min-height: 80vh;
  margin-top: 10%;
}

.quantity {
  color: #8c4f22;
  font-size: 0.8rem;
  padding-top: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.item {
  padding: 20px 30px;
  height: 160px;
  display: flex;
  border-bottom: 1px solid #8c4e2298;
  &__image-fit {
    width: auto;
    height: 135px;
  }
  &__title-products {
    font-weight: 600;
    color: #852515;
    padding-right: 5%;
  }
  &__description {
    color: rgba(0, 0, 0, 0.596);
  }
  &__total-price {
    font-weight: 600;
    color: #852515;
    border-left: 1px solid #8c4e2298;
    padding-left: 2%;
  }
}

.btn-card-item {
  background-color: rgba(0, 0, 0, 0.603);
  width: 40px;
  height: 40px;
  &:hover {
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.603);
  }
}
