@import '../../../scss/mixins.scss';

.card {
  background-color: #8c4e228a;
  border: none;
}

.fix-line-of-description {
  @include sliceByLine;
  min-height: 72px
}

.fix-line-of-title {
  @include sliceByLine(2);
  min-height: 48px;
}

