@import '../../../scss/mixins.scss';

.card {
  background-color: #8c4e228a;
  border: none;
  &__img {
    height: 350px
  }
}

.fix-line-of-description {
  @include sliceByLine;
  min-height: 55px
}

.fix-line-of-title {
  @include sliceByLine(2);
  min-height: 48px;
}

