.wrapper {
  background-color: rgba(0, 0, 0, 0.719);
  border-bottom: 2px solid #d9b88f;
  transition: 0.5s;
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 0 1%;
  &__navigation {
    shop-link {
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.wrapper:hover {
  background-color: #1d463486;
  transition: 0.5s;
}

menu-items {
  width: 100%;
}
